@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #f5f5f5;
  --color-primary: #057ce4;
  --color-hover: #073461;
  --color-secondary: #e8f4ff;
  --color-font-primary: #252B2B;
  --color-font-secondary: #535658; 
  --color-gradient-primary: #288EE5;
  --color-gradient-secondary: #5AB2FE;
  --color-border-blue-primary: #4CA4F0;
  --color-bg-blue-secondary: #C8E5FF;
  --color-border-btn: #E9E9E9;
  --color-bg-tabel: #f9f9f9;
  --color-about: #006BA8;
  --color-history: #394857;
  --color-timeline: #F7F8FA;
  --color-blog:#5D6F80;
  --font-montserrat: var(--font-montserrat);
  --color-second-foreground: #DEDEDE;
  
}

@layer base {
  body {
    font-family: var(--font-lato), sans-serif;
    background-color: #ffffff;
  }

  @media(min-width: 1024px) {
    body {
      font-family: var(--font-inter), sans-serif;
    }
  }

  @keyframes slider {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-slider {
    display: flex;
    width: max-content;
    animation: slider 20s linear infinite;
  }
}